@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face{
    font-family: 'Daehan';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}
@font-face{
    font-family: 'Daehan';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff') format('woff');
}

@mixin transition($property: all, $duration: .15s, $timing: linear, $delay: 0s) {
	-webkit-transition-property: $property;
    transition-property: $property;
	-webkit-transition-duration: $duration;
    transition-duration: $duration;
	-webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
    transition-delay: $delay;
}


@mixin noto() {
    font-family: 'Noto Sans KR', sans-serif;
}
@mixin lato() {
    font-family: 'Lato', sans-serif;
}
@mixin roboto() {
    font-family: 'Roboto', sans-serif;
}
@mixin square() {
    font-family: 'NanumSquare', sans-serif;
}
@mixin monserrat() {
    font-family: 'Montserrat', sans-serif;
}
@mixin os() {
    font-family: 'Open Sans', sans-serif;
}
@mixin dh() {
    font-family: 'Daehan', serif;
}

$kcolor: #8a7968;

.container,
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    .row {
        overflow: hidden;
        margin-left: -5px;
        margin-right: -5px;
        @for $i from 1 through 12 {
            .col-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

a, button {
    outline: none !important;
    color: inherit;
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
    &:hover, &:focus {
        color: inherit;
    }
}
.btn {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
dl {
    margin-bottom: 0;
}
figure {
    margin: 0;
}
address {
    margin-bottom: 0;
}