@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff") format("woff"); }
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff") format("woff"); }
.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 10px;
      padding-right: 10px; }

a, button {
  outline: none !important;
  color: inherit;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important; }
  a:hover, a:focus, button:hover, button:focus {
    color: inherit; }

.btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

figure {
  margin: 0; }

address {
  margin-bottom: 0; }

.jumbotron {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none;
  box-shadow: none; }
  .jumbotron .slick-slide {
    outline: none !important;
    display: table !important;
    width: 100%;
    height: 260px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    background-image: url(/m/assets/images/main/bg_visual_top.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .jumbotron .slick-slide .details {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle; }
      .jumbotron .slick-slide .details h2 {
        position: relative;
        top: -30px;
        opacity: 0;
        font-size: 25px;
        font-weight: 400;
        line-height: 33px;
        font-family: 'Daehan', serif;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      .jumbotron .slick-slide .details hr {
        position: relative;
        top: -30px;
        opacity: 0;
        display: block;
        width: 40px;
        border-top: 3px solid #ff700e;
        margin: 15 auto 20px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s; }
      .jumbotron .slick-slide .details p {
        position: relative;
        top: -30px;
        opacity: 0;
        font-size: 12px;
        color: #fff;
        font-weight: lighter;
        letter-spacing: 1px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s; }
    .jumbotron .slick-slide.action .details h2 {
      top: 0;
      opacity: 1; }
    .jumbotron .slick-slide.action .details hr {
      top: 0;
      opacity: 1; }
    .jumbotron .slick-slide.action .details p {
      top: 0;
      opacity: 1; }

.office-quick {
  overflow: hidden; }
  .office-quick article {
    display: table;
    width: 50%;
    float: left;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .office-quick article > div {
      display: table-cell;
      height: 65px;
      vertical-align: middle;
      text-align: center;
      color: #fff; }
      .office-quick article > div > h3 {
        font-size: 16px;
        font-family: 'Daehan', serif;
        font-weight: 400; }
      .office-quick article > div > small {
        display: block;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px; }
      .office-quick article > div .btn-more {
        display: none;
        width: 65px;
        font-size: 10px;
        color: #fff;
        line-height: 18px;
        margin: 10px auto 0;
        border-radius: 30px;
        border: 1px solid #fff; }
    .office-quick article.ilsan {
      background-image: url(/m/assets/images/main/bg_office01.jpg); }
    .office-quick article.guro {
      background-image: url(/m/assets/images/main/bg_office02.jpg); }
    .office-quick article.suji {
      background-image: url(/m/assets/images/main/bg_office03.jpg); }
    .office-quick article.ansan {
      background-image: url(/m/assets/images/main/bg_office04.jpg); }
    .office-quick article.dongdaemun {
      background-image: url(/m/assets/images/main/bg_office05.jpg); }
    .office-quick article.hongdae {
      background-image: url(/m/assets/images/main/bg_office06.jpg); }
    .office-quick article:hover, .office-quick article:focus {
      background: none;
      background-color: #ff700e; }
      .office-quick article:hover > div small, .office-quick article:focus > div small {
        display: none; }
      .office-quick article:hover > div .btn-more, .office-quick article:focus > div .btn-more {
        display: block; }

.office-info {
  position: relative;
  color: #fff;
  background-color: #8a7968; }
  .office-info .office-list .slick-slide {
    outline: none;
    width: 100%;
    height: 430px;
    padding: 25px 10px 0; }
    .office-info .office-list .slick-slide h3 {
      font-size: 18px;
      letter-spacing: -.5px;
      font-family: 'Daehan', serif; }
      .office-info .office-list .slick-slide h3 small {
        font-size: 13px;
        letter-spacing: -.5px; }
    .office-info .office-list .slick-slide P {
      font-size: 10px;
      margin-top: 5px;
      color: rgba(255, 255, 255, 0.6);
      letter-spacing: 1px;
      font-weight: lighter; }
    .office-info .office-list .slick-slide hr {
      display: block;
      width: 30px;
      border-top: 3px solid #fff;
      margin: 20px 0; }
    .office-info .office-list .slick-slide > .ico-list > li {
      position: relative;
      font-size: 13px;
      font-weight: 300;
      padding-left: 20px;
      line-height: 22px; }
      .office-info .office-list .slick-slide > .ico-list > li:before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: "fontello"; }
      .office-info .office-list .slick-slide > .ico-list > li.traffic:before {
        content: "\E800"; }
      .office-info .office-list .slick-slide > .ico-list > li.addr:before {
        content: "\E801"; }
      .office-info .office-list .slick-slide > .ico-list > li.tel:before {
        content: "\E802"; }
      .office-info .office-list .slick-slide > .ico-list > li.fax:before {
        content: "\E803"; }
      .office-info .office-list .slick-slide > .ico-list > li.time:before {
        content: "\E804"; }
    .office-info .office-list .slick-slide .btn-area {
      position: absolute;
      bottom: 55px;
      left: 0;
      width: 100%; }
      .office-info .office-list .slick-slide .btn-area .btn-more {
        font-size: 13px;
        color: #fff;
        font-weight: 300;
        display: block;
        margin: 0 auto;
        max-width: 300px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #fff; }
  .office-info .office-list .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 12px;
    text-align: center; }
    .office-info .office-list .slick-dots > li {
      display: inline-block; }
      .office-info .office-list .slick-dots > li > button {
        width: 12px;
        height: 12px;
        display: block;
        margin: 0 5px;
        padding: 0;
        border-radius: 50%;
        text-indent: -9999999px;
        background: none;
        border: 1px solid #fff; }
      .office-info .office-list .slick-dots > li.slick-active > button {
        background-color: #fff; }

.information {
  margin-top: 10px; }
  .information article {
    padding: 20px 10px 0;
    margin-bottom: 10px;
    padding-bottom: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%; }
    .information article h3 {
      font-family: 'Daehan', serif;
      color: #57575a;
      font-size: 18px;
      letter-spacing: -.5px; }
      .information article h3 small {
        font-size: 13px; }
    .information article p {
      color: #57575a;
      font-size: 10px;
      letter-spacing: 1px;
      font-family: 'Daehan', serif;
      margin-top: 5px; }
    .information article dl {
      overflow: hidden;
      margin-top: 15px; }
      .information article dl dt {
        float: left;
        clear: both;
        width: 50px;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        font-weight: 400;
        padding: 0 5px;
        margin-bottom: 2px;
        text-align: justify;
        text-align-last: justify;
        border-radius: 5px;
        letter-spacing: -1.9px;
        background-color: #57575a; }
      .information article dl dd {
        width: 75%;
        font-size: 12px;
        color: #57575a;
        line-height: 20px;
        float: left;
        margin: 0;
        margin-left: 20px; }
    .information article figure {
      margin-top: 20px; }
      .information article figure img {
        display: block;
        margin: 0 auto; }
    .information article:nth-of-type(even) dl dt {
      background-color: #8a7968; }
    .information article.ilsan {
      background-image: url(/m/assets/images/main/bg_information01.jpg); }
    .information article.guro {
      background-image: url(/m/assets/images/main/bg_information02.jpg); }
    .information article.suji {
      background-image: url(/m/assets/images/main/bg_information03.jpg); }
    .information article.ansan {
      background-image: url(/m/assets/images/main/bg_information04.jpg); }
    .information article.dongdaemun {
      background-image: url(/m/assets/images/main/bg_information05.jpg); }
    .information article.hongdae {
      background-image: url(/m/assets/images/main/bg_information06.jpg); }

/*# sourceMappingURL=main.css.map */
