#visual ul .slick-slide {
    outline: none !important;
    width: 100%;
    height: 490px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}
#visual ul .slick-slide .slogan {
    padding-top: 160px;
    color: #fff;
    text-align: center; 
}
#visual ul .slick-slide .slogan h2 {
    position: relative;
    bottom: -30px;
    opacity: 0;
    font-size: 50px;
    font-family: 'Daehan', serif;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; 
}
#visual ul .slick-slide .slogan hr {
    position: relative;
    bottom: -30px;
    opacity: 0;
    display: block;
    margin: 25px auto 30px;
    width: 50px;
    border-top: 3px solid #ff700e;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; 
}
#visual ul .slick-slide .slogan p {
    position: relative;
    bottom: -30px;
    opacity: 0;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s; 
}
#visual ul .slick-slide.action h2 {
    bottom: 0;
    opacity: 1; 
}
#visual ul .slick-slide.action hr {
    bottom: 0;
    opacity: 1; 
}
#visual ul .slick-slide.action p {
    bottom: 0;
    opacity: 1; 
}

/* office-information */
.office-information .section-header {
    position: relative;
    z-index: 1;
    margin-top: -150px; 
}
.office-information .section-header .office-list {
    overflow: hidden;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.23); 
}
.office-information .section-header .office-list > li {
    position: relative;
    width: 33.333333%;
    height: 150px;
    float: left;
    display: table;
    text-align: center;
    background-color: #939598; 
}
.office-information .section-header .office-list > li > .summary {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
}
.office-information .section-header .office-list > li h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Daehan', serif;
    line-height: 26px; 
}
.office-information .section-header .office-list > li h3 small {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif; 
}
.office-information .section-header .office-list > li .hover-details {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 30px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #ff700e; 
}
.office-information .section-header .office-list > li .hover-details .btn-more {
    position: relative;
    margin-top: 20px; 
}
.office-information .section-header .office-list > li .hover-details .btn-more .btn-default {
    width: 130px;
    color: #fff;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 30px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; 
}
.office-information .section-header .office-list > li .hover-details .btn-more .btn-default:hover {
    color: #ff700e;
    background-color: #fff; 
}
.office-information .section-header .office-list > li:hover .hover-details {
    opacity: 1; 
}
.office-information .section-header .office-list > li:nth-of-tyope(3n + 1) {
    clear: left; 
}
.office-information .section-header .office-list > li.ilsan .summary {
    background-image: url(/comm/img/main/bg_ilsan.jpg); 
}
.office-information .section-header .office-list > li.guro .summary {
    background-image: url(/comm/img/main/bg_guro.jpg); 
}
.office-information .section-header .office-list > li.suji .summary {
    background-image: url(/comm/img/main/bg_suji.jpg); 
}
.office-information .section-header .office-list > li.ansan .summary {
    background-image: url(/comm/img/main/bg_ansan.jpg); 
}
.office-information .section-header .office-list > li.dongdaemun .summary {
    background-image: url(/comm/img/main/bg_dongdaemun.jpg); 
}
.office-information .section-header .office-list > li.shinchon .summary {
    background-image: url(/comm/img/main/bg_shinchon.jpg); 
}
.office-information .section-content {
    position: relative;
    margin-top: -150px;
    min-width: 1200px;
    height: 783px;
    padding-left: 1115px;
    background-color: #8a7968; 
}
.office-information .section-content > article.maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 1115px; 
}
.office-information .section-content > article.maps figure {
    position: relative;
    min-width: 1115px; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs {
    border: 0; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs > li > a {
    position: absolute;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none !important; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs > li.ilsan > a {
    width: 66px;
    height: 51px;
    top: 246px;
    left: 448px; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs > li.guro > a {
    width: 68px;
    height: 50px;
    top: 436px;
    left: 564px; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs > li.suji > a {
    width: 108px;
    height: 50px;
    bottom: 74px;
    right: 314px; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs > li.ansan > a {
    width: 126px;
    height: 50px;
    right: 463px;
    bottom: 136px; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs > li.dongdaemun > a {
    width: 114px;
    height: 45px;
    top: 340px;
    right: 221px; 
}
.office-information .section-content > article.maps figure figcaption .nav-tabs > li.shinshon > a {
    width: 156px;
    height: 50px;
    top: 380px;
    right: 340px; 
}
.office-information .section-content > article.information {
    position: relative;
    width: 470px;
    height: 100%;
    padding: 210px 0 0 70px; 
}
.office-information .section-content > article.information .tab-content {
    position: relative;
    height: 100%; 
}
.office-information .section-content > article.information .tab-content .tab-pane {
    position: relative;
    height: 100%; 
}
.office-information .section-content > article.information .details {
    position: relative;
    height: 100%; 
}
.office-information .section-content > article.information .details h4 {
    font-size: 43px;
    color: #fff;
    letter-spacing: -.25px;
    font-weight: 600;
    font-family: 'Daehan', serif; 
}
.office-information .section-content > article.information .details h4 small {
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500; 
}
.office-information .section-content > article.information .details > p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 15px;
    font-family: 'Roboto', sans-serif; 
}
.office-information .section-content > article.information .details hr {
    display: block;
    margin: 25px 0 35px;
    width: 45px;
    border-top: 3px solid #fff; 
}
.office-information .section-content > article.information .details ul li {
    position: relative;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    font-weight: 300;
    padding-left: 25px; 
}
.office-information .section-content > article.information .details ul li ~ li {
    margin-top: 10px; 
}
.office-information .section-content > article.information .details ul li:before {
    font-size: 13px;
    position: absolute;
    top: 1px;
    left: 0;
    font-family: "fontello"; 
}
.office-information .section-content > article.information .details ul li.location:before {
    content: "\F031"; 
}
.office-information .section-content > article.information .details ul li.addr:before {
    content: "\E802"; 
}
.office-information .section-content > article.information .details ul li.contact:before {
    content: "\E803"; 
}
.office-information .section-content > article.information .details ul li.fax:before {
    content: "\E804"; 
}
.office-information .section-content > article.information .details ul li.operating-hours:before {
    content: "\E805"; 
}
.office-information .section-content > article.information .details .btn-area {
    position: absolute;
    bottom: 50px;
    left: 0; 
}
.office-information .section-content > article.information .details .btn-area .btn-white {
    width: 230px;
    height: 52px;
    font-size: 16px;
    letter-spacing: -.25px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; 
}
.office-information .section-content > article.information .details .btn-area .btn-white:hover {
    color: #8a7968;
    border-color: #fff;
    background-color: #fff; 
}

/* branch-offices-guide */
.branch-offices-guide {
    padding: 25px; 
}
.branch-offices-guide > article {
    width: 100%;
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
}
.branch-offices-guide > article ~ article {
    margin-top: 25px; 
}
.branch-offices-guide > article .details {
    padding-top: 60px; 
}
.branch-offices-guide > article .details h3 {
    font-size: 48px;
    color: #57575a;
    font-weight: 600;
    letter-spacing: -1px;
    font-family: 'Daehan', serif; 
}
.branch-offices-guide > article .details h3 small {
    display: inline-block;
    font-size: 25px;
    color: #57575a;
    font-weight: 600;
    letter-spacing: -.5px; 
}
.branch-offices-guide > article .details p {
    font-size: 22px;
    color: #57575a;
    font-weight: 400;
    font-family: 'Daehan', serif;
    margin-top: 5px; 
}
.branch-offices-guide > article .details > dl {
    overflow: hidden;
    margin-top: 35px; 
}
.branch-offices-guide > article .details > dl > dt {
    float: left;
    clear: both;
    width: 70px;
    font-size: 13px;
    color: #fff;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 25px;
    text-align-last: justify;
    padding: 0 10px;
    margin-right: 30px;
    margin-bottom: 3px;
    border-radius: 8px;
    background-color: #57575a; 
}
.branch-offices-guide > article .details > dl > dd {
    float: left;
    font-size: 15px;
    color: #57575a;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 25px;
    margin-bottom: 3px; 
}
.branch-offices-guide > article .details > dl > dd > ul > li > dl {
    font-size: 0; 
}
.branch-offices-guide > article .details > dl > dd > ul > li > dl > dt {
    width: 62px;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #57575a;
    text-align-last: justify;
    margin-bottom: 0; 
}
.branch-offices-guide > article .details > dl > dd > ul > li > dl > dt:after {
    display: inline-block;
    font-size: 10px;
    content: "";
    width: 2px;
    height: 11px;
    border-left: 1px solid #9c9c99;
    border-right: 1px solid #606062;
    margin: 0 10px; 
}
.branch-offices-guide > article .details > dl > dd > ul > li > dl > dd {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #57575a;
    margin-bottom: 0 !important; 
}
.branch-offices-guide > article .details > dl > dd > ul.space > li > dl > dt {
    width: 87px; 
}
.branch-offices-guide > article:nth-of-type(even) {
    overflow: hidden; 
}
.branch-offices-guide > article:nth-of-type(even) .details {
    position: relative;
    float: right;
    width: 470px; 
}
.branch-offices-guide > article:nth-of-type(even) .details > dl > dt {
    background-color: #8a7968; 
}
.branch-offices-guide > article.ilsan {
    background-image: url(/comm/img/main/bg_guide_ilsan.jpg); 
}
.branch-offices-guide > article.guro {
    background-image: url(/comm/img/main/bg_guide_guro.jpg); 
}
.branch-offices-guide > article.suji {
    background-image: url(/comm/img/main/bg_guide_suji.jpg); 
}
.branch-offices-guide > article.ansan {
    background-image: url(/comm/img/main/bg_guide_ansan.jpg); 
}
.branch-offices-guide > article.dongdeamun {
    background-image: url(/comm/img/main/bg_guide_dongdeamun.jpg); 
}
.branch-offices-guide > article.shinchon {
    background-image: url(/comm/img/main/bg_guide_shinchon.jpg); 
}