@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff") format("woff"); }
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff") format("woff"); }
body {
  min-width: 1200px;
  font-family: 'Noto Sans KR', sans-serif; }

a {
  color: inherit;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important; }
  a:hover, a:focus {
    color: inherit; }

.btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

figure {
  margin: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 1200px !important;
  min-width: 1200px; }

.office.page-header {
  background-image: url(/comm/img/office/bg_page_header.jpg); }

/* 지점 공통 */
.office .section-content .tab-menu {
  text-align: center; }
  .office .section-content .tab-menu > ul {
    font-size: 0; }
    .office .section-content .tab-menu > ul > li {
      display: inline-block;
      margin-right: 10px; }
      .office .section-content .tab-menu > ul > li > a {
        display: block;
        width: 170px;
        height: 55px;
        font-size: 16px;
        color: #939598;
        line-height: 53px;
        font-weight: bold;
        text-align: center;
        border-radius: 30px;
        border: 1px solid #bebfc1;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        font-family: 'Roboto', sans-serif; }
        .office .section-content .tab-menu > ul > li > a:hover {
          opacity: .7;
          color: #fff;
          border-color: #ff700e;
          background-color: #ff700e; }
      .office .section-content .tab-menu > ul > li.active a {
        color: #fff;
        border-color: #ff700e;
        background-color: #ff700e; }
        .office .section-content .tab-menu > ul > li.active a:hover {
          opacity: 1; }
      .office .section-content .tab-menu > ul > li:last-child {
        margin-right: 0; }
.office .section-content .offce-slide {
  position: relative;
  margin-top: 40px; }
  .office .section-content .offce-slide ul li {
    outline: none; }
    .office .section-content .offce-slide ul li figure .img-fluid {
      width: 100%; }
  .office .section-content .offce-slide ul > button {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: block;
    width: 64px;
    height: 64px;
    text-indent: -99999px;
    margin-top: -32px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    background: none;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .office .section-content .offce-slide ul > button.slick-prev {
      left: 30px;
      background-image: url(/comm/img/office/ico_prev.png); }
    .office .section-content .offce-slide ul > button.slick-next {
      right: 30px;
      background-image: url(/comm/img/office/ico_next.png); }
  .office .section-content .offce-slide .slick-dots {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    height: 18px;
    text-align: center; }
    .office .section-content .offce-slide .slick-dots > li {
      display: inline-block; }
      .office .section-content .offce-slide .slick-dots > li > button {
        cursor: pointer;
        outline: none;
        display: block;
        width: 18px;
        height: 18px;
        text-indent: -999999px;
        margin: 0 5px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #fff;
        background: none; }
      .office .section-content .offce-slide .slick-dots > li.slick-active > button {
        background-color: #fff; }
.office .section-content article ~ article {
  margin-top: 100px; }
.office .section-content article .article-header {
  position: relative;
  text-align: center; }
  .office .section-content article .article-header h5 {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #57575a;
    padding: 0 45px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff; }
  .office .section-content article .article-header:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    border-top: 1px solid #939598;
    content: ""; }
.office .section-content article .article-content {
  margin-top: 60px; }
.office .section-content article.staff .article-content > ul > li {
  overflow: hidden; }
  .office .section-content article.staff .article-content > ul > li .staff-img {
    float: left;
    width: 500px; }
    .office .section-content article.staff .article-content > ul > li .staff-img figure .img-fluid {
      display: block;
      margin: 0 auto; }
    .office .section-content article.staff .article-content > ul > li .staff-img > h6 {
      font-size: 35px;
      color: #57575a;
      font-weight: 600;
      font-family: 'Daehan', serif;
      margin: 25px 0 0 210px; }
      .office .section-content article.staff .article-content > ul > li .staff-img > h6 small {
        font-weight: 300;
        font-size: 20px;
        font-family: 'Noto Sans KR', sans-serif; }
  .office .section-content article.staff .article-content > ul > li .staff-information {
    position: relative;
    float: left;
    width: 735px;
    z-index: 1;
    margin-top: 100px; }
    .office .section-content article.staff .article-content > ul > li .staff-information > h6 {
      font-size: 35px;
      color: #57575a;
      font-weight: 600;
      margin-bottom: 40px;
      font-family: 'Daehan', serif; }
      .office .section-content article.staff .article-content > ul > li .staff-information > h6 small {
        font-weight: 300;
        font-size: 20px;
        font-family: 'Noto Sans KR', sans-serif; }
    .office .section-content article.staff .article-content > ul > li .staff-information .history {
      width: 735px;
      min-height: 290px;
      text-align: left;
      padding: 40px 40px 50px;
      border: 5px solid #dfdfdf; }
      .office .section-content article.staff .article-content > ul > li .staff-information .history > h6 {
        font-size: 20px;
        color: #57575a;
        font-weight: 300;
        margin-bottom: 25px; }
        .office .section-content article.staff .article-content > ul > li .staff-information .history > h6 ~ h6 {
          margin-top: 45px; }
        .office .section-content article.staff .article-content > ul > li .staff-information .history > h6.broadcast {
          font-size: 15px;
          width: 100px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          color: #fff;
          background-color: #939598; }
      .office .section-content article.staff .article-content > ul > li .staff-information .history > .dot-list {
        overflow: hidden; }
        .office .section-content article.staff .article-content > ul > li .staff-information .history > .dot-list > li {
          float: left;
          width: 50%;
          font-size: 14px;
          color: #57575a; }
          .office .section-content article.staff .article-content > ul > li .staff-information .history > .dot-list > li:nth-of-type(2n + 1) {
            clear: left; }
        .office .section-content article.staff .article-content > ul > li .staff-information .history > .dot-list.long > li {
          width: 100%;
          float: none !important;
          clear: none !important; }
  .office .section-content article.staff .article-content > ul > li ~ li {
    margin-top: 85px; }
  .office .section-content article.staff .article-content > ul > li:nth-of-type(odd) .staff-information {
    text-align: left;
    margin-left: -65px; }
    .office .section-content article.staff .article-content > ul > li:nth-of-type(odd) .staff-information > h6 {
      margin-left: 115px; }
  .office .section-content article.staff .article-content > ul > li:nth-of-type(even) .staff-information {
    text-align: right;
    margin-right: -65px; }
    .office .section-content article.staff .article-content > ul > li:nth-of-type(even) .staff-information > h6 {
      margin-right: 115px; }
.office .section-content article.staff .activity {
  margin-top: 60px; }
  .office .section-content article.staff .activity > ul {
    overflow: hidden; }
    .office .section-content article.staff .activity > ul > li {
      float: left;
      width: 33.3333333%; }
      .office .section-content article.staff .activity > ul > li > dl > dt {
        width: 100px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
        background-color: #939598; }
      .office .section-content article.staff .activity > ul > li > dl > dd {
        margin-bottom: 0; }
        .office .section-content article.staff .activity > ul > li > dl > dd > .dot-list > li {
          font-weight: 300;
          color: #57575a;
          padding-left: 15px; }
          .office .section-content article.staff .activity > ul > li > dl > dd > .dot-list > li:before {
            color: #939598; }
      .office .section-content article.staff .activity > ul > li:nth-of-type(2) {
        padding-left: 70px; }
.office .section-content article.location .article-content .sub-title {
  margin-bottom: 15px; }
.office .section-content article.location .article-content .maps .daum-map .root_daum_roughmap .wrap_controllers {
  display: none; }
.office .section-content article.location .article-content .maps .daum-map .root_daum_roughmap .map_border {
  display: none; }
.office .section-content article.location .article-content .maps .details {
  display: block;
  text-align: center;
  line-height: 60px;
  border: 5px solid #dfdfdf; }
  .office .section-content article.location .article-content .maps .details p {
    display: inline-block;
    font-size: 16px;
    color: #57575a;
    line-height: 22px;
    font-weight: 300; }
    .office .section-content article.location .article-content .maps .details p:after {
      display: inline-block;
      margin: 0 5px 0 3px;
      content: "/"; }
    .office .section-content article.location .article-content .maps .details p:last-child:after {
      content: "";
      margin: 0; }
    .office .section-content article.location .article-content .maps .details p b {
      font-weight: 500; }
    .office .section-content article.location .article-content .maps .details p span {
      display: inline-block;
      width: 22px;
      height: 22px;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      font-family: 'Roboto', sans-serif; }
    .office .section-content article.location .article-content .maps .details p.seven b {
      color: #6b7b2b; }
    .office .section-content article.location .article-content .maps .details p.seven span {
      background-color: #6b7b2b; }
    .office .section-content article.location .article-content .maps .details p.two b {
      color: #10aa18; }
    .office .section-content article.location .article-content .maps .details p.two span {
      background-color: #10aa18; }
    .office .section-content article.location .article-content .maps .details p.three b {
      color: #ef6531; }
    .office .section-content article.location .article-content .maps .details p.three span {
      background-color: #ef6531; }
    .office .section-content article.location .article-content .maps .details p.one b {
      color: #3155b5; }
    .office .section-content article.location .article-content .maps .details p.one span {
      background-color: #3155b5; }
    .office .section-content article.location .article-content .maps .details p.gyeongui-jungang b {
      color: #55c1c6; }
    .office .section-content article.location .article-content .maps .details p.gyeongui-jungang span {
      width: 70px;
      font-size: 14px;
      border-radius: 30px;
      background-color: #55c1c6; }
    .office .section-content article.location .article-content .maps .details p.sinbundang b {
      color: #de4552; }
    .office .section-content article.location .article-content .maps .details p.sinbundang span {
      width: 60px;
      border-radius: 30px;
      background-color: #de4552; }
    .office .section-content article.location .article-content .maps .details p.four b {
      color: #0099e5; }
    .office .section-content article.location .article-content .maps .details p.four span {
      background-color: #0099e5; }
    .office .section-content article.location .article-content .maps .details p.bus i {
      position: relative;
      top: -1px;
      padding-right: 1px;
      font-size: 12px; }
      .office .section-content article.location .article-content .maps .details p.bus i:before {
        margin: 0; }
    .office .section-content article.location .article-content .maps .details p.bus b {
      color: #6498e0; }
    .office .section-content article.location .article-content .maps .details p.bus span {
      background-color: #6498e0; }
.office .section-content article.location .article-content .office-contact {
  margin-top: 40px; }
  .office .section-content article.location .article-content .office-contact > ul > li p, .office .section-content article.location .article-content .office-contact > ul > li address {
    display: block;
    font-size: 16px;
    color: #57575a;
    font-weight: 300;
    line-height: 30px; }
.office .section-content article.location .article-content .counseling-center {
  margin-top: 60px; }
  .office .section-content article.location .article-content .counseling-center > ul {
    overflow: hidden;
    padding: 5px 10px 0; }
    .office .section-content article.location .article-content .counseling-center > ul > li {
      float: left;
      text-align: center;
      margin-right: 50px; }
      .office .section-content article.location .article-content .counseling-center > ul > li .icon-item {
        display: block;
        width: 150px;
        height: 150px;
        text-align: center;
        line-height: 148px;
        border-radius: 50%;
        background-color: #bebfc1; }
        .office .section-content article.location .article-content .counseling-center > ul > li .icon-item img {
          display: inline-block; }
      .office .section-content article.location .article-content .counseling-center > ul > li > p {
        font-size: 16px;
        color: #57575a;
        font-weight: 300;
        margin-top: 20px; }
      .office .section-content article.location .article-content .counseling-center > ul > li:last-child {
        margin-right: 0; }
.office .section-content article.time .article-content {
  display: table;
  width: 100%; }
  .office .section-content article.time .article-content > div {
    display: table-cell; }
    .office .section-content article.time .article-content > div.table-wrap {
      width: 900px;
      padding-right: 30px; }
      .office .section-content article.time .article-content > div.table-wrap .table {
        table-layout: fixed;
        text-align: center; }
        .office .section-content article.time .article-content > div.table-wrap .table thead tr th {
          height: 40px;
          font-size: 14px;
          color: #fff;
          font-weight: 400;
          vertical-align: middle;
          padding: 0;
          border: 0;
          border-right: 1px solid #ccc;
          background-color: #8a7968; }
          .office .section-content article.time .article-content > div.table-wrap .table thead tr th:last-child {
            border-right: 0; }
        .office .section-content article.time .article-content > div.table-wrap .table tbody tr td {
          font-size: 14px;
          color: #57575a;
          font-weight: 400;
          line-height: 26px;
          padding: 15px 0;
          vertical-align: middle;
          border: 0;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc; }
          .office .section-content article.time .article-content > div.table-wrap .table tbody tr td:first-child {
            background-color: #e9eaea; }
          .office .section-content article.time .article-content > div.table-wrap .table tbody tr td:last-child {
            border-right: 0; }
    .office .section-content article.time .article-content > div.details {
      width: 270px;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      border: 5px solid #dfdfdf; }
      .office .section-content article.time .article-content > div.details > dl {
        overflow: hidden;
        display: inline-block;
        margin: 0 auto; }
        .office .section-content article.time .article-content > div.details > dl > dt {
          float: left;
          clear: both;
          width: 50px;
          font-size: 14px;
          color: #57575a;
          font-weight: 300;
          line-height: 24px;
          text-align-last: justify;
          letter-spacing: -1px;
          margin-right: 40px; }
        .office .section-content article.time .article-content > div.details > dl > dd {
          display: inline;
          font-size: 14px;
          color: #57575a;
          line-height: 24px;
          margin-bottom: 0;
          font-family: 'Roboto', sans-serif; }
      .office .section-content article.time .article-content > div.details .attention {
        font-size: 12px;
        color: #666;
        font-weight: 400;
        text-align: left;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 25px; }
        .office .section-content article.time .article-content > div.details .attention:before {
          content: "※ "; }
        .office .section-content article.time .article-content > div.details .attention ~ .attention {
          margin-top: 0; }

/* 일산 */
.office.ilsan .section-content .staff .article-content > ul > li .staff-information {
  margin-top: 140px; }
.office.ilsan .section-content .time .article-content .details dl {
  /*dd {
      line-height: 22px;
  }*/ }
  .office.ilsan .section-content .time .article-content .details dl dt, .office.ilsan .section-content .time .article-content .details dl dd {
    line-height: 22px; }
.office.ilsan .section-content .time .article-content .details .attention {
  margin-top: 15px; }

/* 신촌홍대 */
.office.shinshon .section-content .time .article-content .details dl dt {
  width: 62px; }
.office.shinshon .section-content .time .article-content .details .attention {
  margin-top: 15px; }

/*# sourceMappingURL=office.css.map */
